@model IEnumerable<fourth.Models.MonHoc>

@{
    ViewData["Title"] = "Mon Hoc";
}

<h1>Mon Hoc</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMonHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoaHoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMonHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhoaHoc.TenKhoaHoc)
                </td>
                <td>
                    <a asp-controller="MonHoc" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="MonHoc" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="MonHoc" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
